html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background-color: rgb(214, 209, 209);
 overflow: hidden; /* contain objects "on-screen" */
}

#joker {
   width: 100px;
   height: 280px; 
   position:absolute;
   top: 237px;
   left: 300px;
   z-index:10;
}

#hospital {
    width: 600px;
    height: 530px;
    position:relative;
    top: 0px;
    left:0px;
}

#remote {
    width: 30px;
    height: 30px;
    position:absolute;
    top:370px;
    left:309px;
    z-index: 12;
}

#fire {
    width: 200px;
    height: 150px;
    position:absolute;
    top:383px;
    left:400px;
    z-index: 12;
    animation: spread 5s infinite;
}

#fire2 {
    width: 200px;
    height: 150px;
    position:absolute;
    top:383px;
    left:35px;
    z-index: 12;
    animation: spread 5s infinite;
}

#explosion {
    width: 400px;
    height: 200px;
    position:absolute;
    top:180px;
    left:150px;
    animation:detonation 10s infinite;
}
#hand {
    width: 30px;
    height: 30px;
    position:absolute;
    top:352px;
    left:309px;
    z-index: 12;
    animation:finger-click 3s infinite;
}

@keyframes finger-click {
   0% {
        transform: rotate(180deg);
    }
}

@keyframes detonation {
    0% {
        transform:scale(0) skew(0deg);
        opacity: 0;
    }
    50% {
        transform:scale(1.5) skew(10deg);
        opacity: 1;
    }
    100% {
        transform: scale(2) skew(0deg);
        opacity: 1;
    }
}

@keyframes spread {
    0% {
        transform: translate(0px) scale (1);
    }
    50% {
        transform: translate(15px,-40px) scale(1.3);
    }
    100% {
        transform: translate(35px, -60px) scale (1.8);
    }
}